version: '3'
services:
  jenkins:
    build:
      context: bin/jenkins
    container_name: jenkins
    ports:
        - 8081:8080
        - 50000:50000
    volumes:
        - ./data/jenkins_home:/var/jenkins_home